<div class="player__intro">
  <div class="player__block">
    <div class="row row--small-gutter middle-xs kd">
      <div class="col-xs kd__graph">
        <div class="kd__matches">
          <i class="match-icon"
             *ngFor="let activity of intro?.matches"
             [ngClass]="activityStanding(activity) ? 'match-icon--win' : 'match-icon--loss'"
             [ngStyle]="activity | activityGraph: intro?.kd?.bungie"
             [popover]="activityDetailsPopover"
             [popoverTitle]="activity.period | timeAgo">
             <template #activityDetailsPopover>
               <div class="row row--small-margin">
                 <div class="col-xs">
                   <div class="stat-number" [innerHtml]="activity?.kills / activity?.deaths | number : '1.2-2'"></div>
                   <div class="stat-label">K/D</div>
                 </div>
                 <div class="col-xs">
                   <div class="stat-number" [innerHtml]="activity?.kills"></div>
                   <div class="stat-label">Kills</div>
                 </div>
               </div>
             </template>
          </i>
        </div>
        <div class="stat-label">Recent Matches</div>
      </div>
      <div class="col-xs-shrink kd__stat">
        <div class="stat-number"
          placement="left"
          [popover]="kdDetailsPopover">
          <template #kdDetailsPopover>
            <div class="row stat-title">
              <div class="col-xs">
                Account-wide K/D's
              </div>
            </div>
            <div class="row row--small-margin">
              <div class="col-xs" *ngIf="intro?.kd?.week">
                <div class="stat-number" [innerHtml]="intro?.kd?.week | number : '1.2-2'"></div>
                <div class="stat-label">Weekly</div>
              </div>
              <div class="col-xs" *ngIf="intro?.kd?.year3">
                <div class="stat-number" [innerHtml]="intro?.kd?.year3 | number : '1.2-2'"></div>
                <div class="stat-label">Year 3</div>
              </div>
              <div class="col-xs" *ngIf="intro?.kd?.year2">
                <div class="stat-number" [innerHtml]="intro?.kd?.year2 | number : '1.2-2'"></div>
                <div class="stat-label">Year 2</div>
              </div>
              <div class="col-xs" *ngIf="intro?.kd?.year1">
                <div class="stat-number" [innerHtml]="intro?.kd?.year1 | number : '1.2-2'"></div>
                <div class="stat-label">Year 1</div>
              </div>
            </div>
          </template>
          <span [innerHtml]="intro?.kd?.bungie | number : '1.2-2'"></span>
        </div>
        <div class="stat-label">K/D</div>
      </div>
    </div>
  </div>
  <hr class="hr--no-margin">
  <div class="player__block" *ngIf="settings?.overview || !settings">
    <div class="row row--no-gutter">
      <div class="col-xs-3">
        <div class="stat-number" [innerHtml]="(intro?.winPercentage | number:'1.0-0') + '%'"></div>
        <div class="stat-label">Wins</div>
      </div>
      <div class="col-xs-3">
        <div class="stat-number">
          <span [innerHtml]="(formatStreak(intro?.streak?.current)) || 'N/A'"></span>
          <span class="match-icon" [ngClass]="{'match-icon--loss': intro?.streak?.current < 0, 'match-icon--win': intro?.streak?.current >= 0}"></span>
        </div>
        <div class="stat-label">Streak</div>
      </div>
      <div class="col-xs-4">
        <div class="stat-number">
          <span [innerHtml]="(intro?.elo?.rating | number:'1.0-0') || 'N/A'"></span>
          <span>
            <a href="https://guardian.gg/en/faq" target="_blank">
              <i class="material-icons">&#xE8FD;</i>
            </a>
          </span>
        </div>
        <div class="stat-label">Elo Rating</div>
      </div>
      <div class="col-xs-2">
        <div class="stat-number" [ngClass]="{'color-success': (intro?.flawless | sumFlawless) > 0, 'color-error': (intro?.flawless | sumFlawless) === 0}">
          <i *ngIf="!(intro?.flawless | sumFlawless)" class="material-icons color-error">&#xE14C;</i>
          <span *ngIf="(intro?.flawless | sumFlawless)" [innerHtml]="(intro?.flawless | sumFlawless) + 'x'"></span>
        </div>
        <div class="stat-label">Flawless</div>
      </div>
    </div>
  </div>
</div>
