<div class="player__block tab__section">
  <div class="stat-table__row row row--small-gutter" *ngFor="let weapon of stats?.weapons">
    <div class="col-xs-6">
      <img class="weapon-type-icon" [src]="'/assets/img/weapon-icons/' + weapon?.file_name">
    </div>
    <div class="col-xs-3" [innerHtml]="weapon?.sum_kills | number:'1.0-0'"></div>
    <div class="col-xs-3" [innerHtml]="weapon?.sum_headshots | number:'1.0-0'"></div>
  </div>
  <div class="stat-table__row stat-table__row--faded row row--small-gutter" *ngFor="let weapon of defaultWeapons | slice: stats?.weapons.length">
    <div class="col-xs-6">
      <img class="weapon-type-icon" [src]="'/assets/img/weapon-icons/' + weapon?.file_name">
    </div>
    <div class="col-xs-3" [innerHtml]="weapon?.sum_kills | number:'1.0-0'"></div>
    <div class="col-xs-3" [innerHtml]="weapon?.sum_headshots | number:'1.0-0'"></div>
  </div>
  <div class="stat-table__row row row--small-gutter">
    <div class="col-xs-6">
      <div class="stat-header">Most used weapon types</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-label">Kills</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-label">Headshots</div>
    </div>
  </div>
</div>
<div class="player__block tab__section">
  <div class="row row--tiny-gutter">
    <div class="col-xs-2">
      <div class="stat-number" [innerHtml]="getKillDeathRatio(stats) | number : '1.2-2'"></div>
      <div class="stat-label">K/D</div>
    </div>
    <div class="col-xs-4">
      <div class="stat-number">
        {{stats?.kills || 0 | number:'1.0-0'}}
        <span class="stat-number__seperator">/</span>
        {{stats?.deaths || 0 | number:'1.0-0'}}
      </div>
      <div class="stat-label">Kills / Deaths</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="stats?.matches | number:'1.0-0'"></div>
      <div class="stat-label">Matches</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="getWinLoss(stats)"></div>
      <div class="stat-label">Won / Lost</div>
    </div>
  </div>
</div>
