.kd__graph {
  overflow: auto;
}

.kd__stat {
  .stat-number {
    line-height: 3rem;
    font-size: 1.6rem;
    letter-spacing: -1px;
    font-weight: 400;
  }

  .stat-label {
    text-align: right;
  }
}

.kd__matches {
  height: 3rem;
  line-height: 3rem;
  direction: rtl;
  text-align: left;
  overflow: hidden;
  position: relative;
  padding-right: .75rem;

  > .match-icon {
    font-size: 10px;
    display: inline-block;
    margin-right: .2rem;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  &:before {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    top: 50%;
    background: #eeeeee;
  }

  &:after {
    @include icon;
    content: "\E86F";
    font-size: .9em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    color: #d6d6d6;
  }

  & + .stat-label {
    margin-top: .2rem;
  }
}
