.btn {
  cursor:pointer;
}

.btn-fab {
  width: 4rem;
  height: 4rem;
  right: 2rem;
  bottom: 2rem;
  position: fixed;
  border-radius: 50%;
  outline: 0;
  border: 0;
  @include shadow(2);
  z-index: 1000;

  > i {
    display: block;
    font-size: 3rem;
    line-height: 4rem;
  }
}
