.inventory-item__image {
  width: $inventory-item-image-size;
  height: $inventory-item-image-size;
  border-radius: .5em;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  .inventory-item--weapon & {
    clip-path: polygon( $inventory-item-cutout-x 0%,
                        100% 0%,
                        100% #{100% - $inventory-item-cutout-y},
                        #{100% - $inventory-item-cutout-x} 100%,
                        0% 100%,
                        0% #{100% - $inventory-item-cutout-y},
                        0 $inventory-item-cutout-y,
                        $inventory-item-cutout-x 0%);
  }
}

.inventory-item__title {
  white-space: normal;
}

.inventory-item__title + .inventory-item__perks {
  margin-top: .5rem;
}

.inventory-item--small {
  font-size: .9em;

  .inventory-item__image {
    width: $inventory-item-small-image-size;
    height: $inventory-item-small-image-size;
    border-radius: .3em;
  }

  .inventory-item__title {
    line-height: 1;
  }
}
