// TODO: Look at enter/exit animation

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  max-width: 320px;
  margin-top: -#{$popover-arrow-size + .25rem};

  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  @include shadow(1);
}

.popover-title {
  margin: 0;
  font-size: 1em;
  padding: $popover-padding;
  font-weight: 400;
  background: #fcfcfc;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: 1px solid #eee;
}

.popover-content {
  padding: $popover-padding;
}

.popover > .arrow {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: $popover-arrow-size;
  height: $popover-arrow-size;
  left: 50%;
  bottom: 0;
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);
  transform: translate3d(-50%, 50%, 0) rotate(45deg);

  &:after {
    content: "";
    background: white;
    width: #{$popover-arrow-size * 2};
    height: #{$popover-arrow-size * 2};
    display: block;
    transform: translate3d(-$popover-arrow-size, -$popover-arrow-size, 0);
  }
}

.popover-bottom {
  margin-top: #{$popover-arrow-size + .25rem};

  & > .arrow {
    bottom: auto;
    top: -$popover-arrow-size;

    &:after {
      transform: translate3d(0, 0, 0);
    }
  }
}
