.stat-number {
  font-size: 1.2em;
  line-height: 1;

  .material-icons {
    font-size: .9em;
    vertical-align: -.1rem;
  }

  .match-icon {
    font-size: 10px;
    vertical-align: .15rem;
  }
}

.stat-label {
  @extend .data-label;
  display: block;

  .stat-number + & {
    margin-top: .2rem;
  }
}

.stat-title {
  @extend .data-label;
  font-weight: normal;
  color: $dark-main-color;
}

.stat-header {
  @extend .data-label;
  font-weight: normal;
  color: darken($data-label-color, 10%);

  .stat-progress + & {
    margin-top: .2rem;
  }
}

.stat-table__row {
  margin-top: .8rem;
  margin-bottom: .5rem;
  line-height: 1.2rem;
  white-space: nowrap;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.stat-progress > .col-xs:not(:first-child) {
  margin-left: .15rem;
}
