.stat-number {
  font-size: 1.2em;
  line-height: 1;

  .material-icons {
    font-size: .9em;
    vertical-align: -.1rem;
  }

  .match-icon {
    font-size: 10px;
    vertical-align: .15rem;
  }
}

.stat-number__seperator {
  font-size: .9em;
  color: $light-secondary-color;
}

.stat-label {
  @extend .data-label;
  display: block;

  .stat-number + & {
    margin-top: .2rem;
  }
}

.stat-title {
  @extend .data-label;
  font-weight: normal;
  color: $dark-main-color;

  > i {
    font-size: 1.2em;
    vertical-align: -.2em;
  }
}

.stat-header {
  @extend .data-label;
  font-weight: normal;
  color: darken($data-label-color, 10%);

  .stat-progress + & {
    margin-top: .2rem;
  }
}

.stat-table__row {
  line-height: 1.2rem;
  white-space: nowrap;

  & + & {
    margin-top: .6rem;
  }

  > hr {
    margin-top: .6rem;
    margin-bottom: 0rem;
  }
}

.stat-progress > .col-xs:not(:first-child) {
  margin-left: .15rem;
}

.stat-row__divider {
  margin-top: .6rem;
}
