<!-- TODO: Better loading animation -->
<div class="player__block tab__section">
  <div class="row">
    <div class="col-xs-4 stat recent-match__score" *ngFor="let summary of pgcr?.summary">
      <i class="match-icon" [ngClass]="{'match-icon--win': summary?.standing === 0, 'match-icon--loss': summary?.standing === 1}"></i>
      <span class="stat-number">
        <span [innerHtml]="summary?.teamScore || '0'"></span> - <span [innerHtml]="summary?.enemyScore || '0'"></span>
      </span>
      <div class="stat-label" [innerHtml]="summary?.period | timeAgo"></div>
    </div>
  </div>
</div>
<div class="player__block tab__section">
  <div class="row row--tiny-gutter">
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="pgcr?.values?.kills || 0"></div>
      <div class="stat-label">Kills</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="pgcr?.values?.deaths || 0"></div>
      <div class="stat-label">Deaths</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="pgcr?.values?.assists || 0"></div>
      <div class="stat-label">Assists</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="pgcr?.values?.precisionKills || 0"></div>
      <div class="stat-label">Headshots</div>
    </div>
  </div>
  <div class="row row--tiny-gutter">
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="(pgcr?.values?.killsDeathsRatio / 3 | number : '1.2-2') || 0"></div>
      <div class="stat-label">K/D</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="(pgcr?.values?.killsDeathsAssists / 3 | number : '1.2-2') || 0"></div>
      <div class="stat-label">KA/D</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="pgcr?.values?.resurrectionsPerformed || 0"></div>
      <div class="stat-label">Revives</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-number" [innerHtml]="secondsToDisplay((pgcr?.values?.averageLifespan / 3)) || 0"></div>
      <div class="stat-label">Lifespan</div>
    </div>
  </div>
</div>
<div class="player__block tab__section">
  <div class="stat-table__row row row--tiny-gutter">
    <div class="col-xs-6">
      <div class="stat-header">Used weapons</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-label">Kills</div>
    </div>
    <div class="col-xs-3">
      <div class="stat-label">Headshots</div>
    </div>
  </div>
  <div class="stat-table__row row row--tiny-gutter middle-xs" *ngFor="let weapon of objectToArray(pgcr?.weapons)">
    <div class="col-xs-6">
      <div class="row row--tiny-gutter middle-xs inventory-item inventory-item--small">
        <div class="col-xs-shrink">
          <div class="inventory-item__image">
            <img [src]="'https://www.bungie.net/common/destiny_content/icons/' + weapon?.icon" [alt]="weapon.name" *ngIf="weapon?.icon">
          </div>
        </div>
        <div class="col-xs inventory-item__title">
          <span [innerHtml]="weapon.name"></span>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <span [innerHtml]="weapon?.uniqueWeaponKills"></span>
    </div>
    <div class="col-xs-3">
      <span [innerHtml]="weapon?.uniqueWeaponPrecisionKills"></span>
    </div>
  </div>
  <!-- TODO: Add grenades and supers -->
</div>
<div class="player__block tab__section">
  <div class="row recent-match__medals">
    <div class="col-xs-2 recent-match__medal" *ngFor="let medal of objectToArray(pgcr?.medals)" [popoverTitle]="medal?.name" [popover]="medal?.description">
      <img [src]="'https://www.bungie.net' + medal?.icon" [alt]="medal?.name" [title]="medal?.name">
      <small>x</small><span [innerHtml]="medal?.value"></span>
    </div>
  </div>
</div>
