<div class="row middle-xs center-xs">
  <div class="col-xs col-sm" style="text-align: left;padding-right: 0;">
    <div class="card__header__controls">
      <button class="btn btn--icon btn--ghost" [style.opacity]="map?.current?.week > 0 ? 1 : .2"
              (click)="toWeek(map?.current?.week - 1)">
        <div>
          <i class="material-icons" style="color: #666;">&#xE5CB;</i>
          <span class="stat-label map-nav" style="float: right;line-height: 2em;font-size: .8em;">
            {{map?.previous?.name}}
          </span>
        </div>
      </button>
    </div>
  </div>

  <div class="col-xs-shrink selected__weapon-icon" *ngIf="selected?.icon">
    <img [src]="selected?.icon"
         class="weapon-icon__medium"
         *ngIf="selected?.leaderboard !== 'weapons'">
  </div>

  <div class="col-xs-shrink">
    <p class="card__header__title--map" [innerHtml]="leaderboardTitle"></p>
    <span class="card__header__title"
          [innerHtml]="getDescription(map?.current)"></span>
  </div>

  <div class="col-xs" style="text-align: right;padding-right: 0;">
    <div class="card__header__controls">
      <button class="btn btn--icon btn--ghost" [style.opacity]="map?.current?.week < maxWeek ? 1 : .2"
              (click)="toWeek(map?.current?.week - (-1))">
        <div>
          <i class="material-icons" style="color: #666;">&#xE5CC;</i>
          <span class="stat-label map-nav" style="float: left;line-height: 2em;font-size: .8em;">
            {{map?.next?.name}}
          </span>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="col-xs-12"><hr></div>

<div class="row">
  <div class="stat-table col-xs-12">
    <div class="stat-table__row row row--small-gutter">
      <div class="col-xs-1">
        <div class="stat-header">Place</div>
      </div>
      <div class="col-xs-1">
        <div class="stat-header"></div>
      </div>
      <div class="hide-stat col-xs-1">
        <div class="stat-header"></div>
      </div>
      <div class="col-xs-3" [ngClass]="{'col-xs-4': ([100,200,300].indexOf(selectedWeek) > -1 && selected?.leaderboard == 'players')}">
        <div class="stat-header" [innerHtml]="tableHeader" *ngIf="selected?.type != 0"></div>
        <div class="stat-header" [innerHtml]="'Medal'" *ngIf="selected?.type == 0 && selected?.leaderboard == 'medals'"></div>
      </div>
      <div class="col-xs-2">
        <div class="stat-header" [innerHtml]="tableMetric"></div>
      </div>
      <div class="hide-stat col-sm-2">
        <div class="stat-header" *ngIf="selected?.leaderboard !== 'medals'">Headshots</div>
      </div>
      <div class="col-xs-1 mobile-padding"></div>
      <div class="col-xs-2" *ngIf="!([100,200,300].indexOf(selectedWeek) > -1 && selected?.leaderboard == 'players')">
        <div class="stat-header" *ngIf="selected?.leaderboard == 'medals' && selected?.type == 0">Players</div>
        <div class="stat-header" *ngIf="selected?.type != 0">Matches</div>
      </div>
    </div>
  </div>
  <div class="stat-table col-xs-12" [ngClass]="{loading__background: loading}">
    <div class="stat-table__row row row--small-gutter middle-xs"
         *ngFor='let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: selected?.page }; let i = index;'
         [@loading]="loading">

      <div class="col-xs-1">
        #<span [innerHtml]="item?.rank | rank: i:selected?.page:itemsPerPage | number:'1.0-0'"></span>
      </div>

      <div class="col-xs-1 text-center">
        <img *ngIf="item?.platform"
              [src]="'/assets/img/' + (item?.platform == 1 ? 'xbox.svg' : 'ps.svg')"
             [alt]="item?.platform == 1 ? 'xbox' : 'psn'"
             style="height: 1rem;max-width: 1rem;">
      </div>

      <div class="hide-stat col-xs-1 text-center">
        <img *ngIf="!selected?.icon && item?.icon?.length > 0 && item?.icon != 'https://www.bungie.netNULL'"
             [src]="item?.icon"
             [alt]="item?.name"
             class="weapon-icon__small">
      </div>

      <div class="col-xs-3" [ngClass]="{'col-xs-4': ([100,200,300].indexOf(selectedWeek) > -1 && selected?.leaderboard == 'players')}">
        <a [innerHtml]="item?.name"
           [routerLink]="[getItemUrl(item)]"></a>
      </div>

      <div class="col-xs-2">
        <span [innerHtml]="(item?.kills || item?.count) | number:'1.0-0'"></span>
      </div>

      <div class="hide-stat col-sm-2">
        <span [innerHtml]="item?.headshots | number:'1.0-0'"></span>
      </div>

      <div class="col-xs-1 mobile-padding"></div>

      <div class="col-xs-2" *ngIf="!([100,200,300].indexOf(selectedWeek) > -1 && selected?.leaderboard == 'players')">
        <span [innerHtml]="item?.matches || item?.players | number:'1.0-0'"></span>
      </div>
    </div>
    <div class="not-found"  *ngIf="items.length === 0 && !loading">
      <img class="not-found__icon" draggable="false" src="/assets/img/sadface-white.png" title="Sad face">
      <h1 class="not-found__title">{{selected?.leaderboard}} not found</h1>
      <p *ngIf="selected?.leaderboard === 'medals'">Medals have only been tracked starting from year 3 week 18.</p>
    </div>
  </div>
</div>
