@import '../../styles/helpers/all';

.player-header {
  color: $light-main-color;
  padding-right: $player-card-padding;
  background-size: cover;
  background-position: $player-card-emblem-size top;
  background-repeat: no-repeat;
  text-shadow: 0 2px 3px rgba(0,0,0,.5);
}

.player-header__emblem {
  width: $player-card-emblem-size;
  height: $player-card-emblem-size;
  margin-right: .5rem;
  display: block;
  border-top-left-radius: $player-card-border-radius;
}

.player-header__title {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0;
}

.player-header__light {
  font-size: 1.1em;
  font-weight: 400;
}

.player-header__grimoire {
  text-align: right;
}

.player-header__subtext {
  font-size: .8em;

  .badge {
    text-shadow: none;
  }

  > img {
    height: .8em;
  }
}

.player-header__subclass {
  display: inline-block;
  margin-right: .3rem;
}
