.character-records {
  position: relative;
}

.character-records:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  z-index: -1;
  pointer-events: none;
  background-image: url(/assets/img/laurel-white.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
