<hr class="hr--no-margin">
<div class="player__footer row row--no-gutter stretch-xs">
  <!-- TODO: Correct links (and hide buttons if there are none) -->
  <a [href]="" class="col-xs btn btn--ghost" target="_blank">
    <img src="/assets/img/ggg-logo.png" alt="Guardian.gg">
  </a>
  <a [href]="" class="col-xs btn btn--ghost" target="_blank">
    <span class="text-logo">
      myTrialsReport
    </span>
  </a>
  <a [href]="" class="col-xs btn btn--ghost" target="_blank">
    <img src="/assets/img/twitch-logo.svg" alt="Twitch">
  </a>
</div>
