ul[rn-carousel] {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -3px;
  padding-bottom: 3px;
}

ul[rn-carousel] > li {
  position: relative;
  margin-left: -100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

ul[rn-carousel] > li:first-child {
  margin-left: 0;
}

ul[rn-carousel] > li:first-child > div {
  padding-left: 5px;
  padding-right: 5px;
}

ul[rn-carousel] > li:first-child > div:nth-child(2) {
  position: absolute;
  margin-left: 100%;
}

ul[rn-carousel] > li:first-child > div:nth-child(3) {
  position: absolute;
  margin-left: 200%;
}

ul[rn-carousel] img {
  max-width: 100%;
}

ul[rn-carousel] > li {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 568px) {
  ul[rn-carousel] > li {
    width: 50%;
    margin-left: -50%;
  }
}
