.popover {
  font-family: 'Roboto', sans-serif;
  color: $main-dark;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  font-weight: normal;
  font-size: 1em;
  padding: .5em .8em;
}

.popover-content{
  font-weight: 300;
  padding: .5em .8em;
  background-color: #f7f7f7;
  color: $main-dark;
  img {
    max-width: 100%;
    display: block;
    margin: .5rem auto;
  }

  a {
    color: lighten(#333, 30%);
    text-decoration: underline;
  }

  hr {
    margin: 10px;
  }
}

.popover-footer {
  border-top: 1px solid #dedede;
  padding: .5em .8em;
  font-weight: 300;
  font-size: .9em;
  color: lighten($main-dark, 50%);
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.popover.match-summary {
  min-width: 10em;

  .popover-footer {
    text-align: center;
  }
}

.popover.kd {
  min-width: 12em;
}

.popover.weapon-stats {
  .popover-footer {
    text-align: center;
  }
}

.popover.ggg-elo {
  min-width: 16em;

  .stat > span {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.85);
  }

  .stat > label {
    color: rgba(255, 255, 255, 0.6);
  }
}

.popover.ggg-elo.bronze {
  background-color: rgb(179, 148, 113);

  .arrow:after {
    border-top-color: rgb(179, 148, 113);
  }

  .popover-title {
    background-color: rgba(162, 124, 78, 0.5);
  }
}

.popover.ggg-elo.silver {
  background-color: rgb(179, 179, 179);

  .arrow:after {
    border-top-color: rgb(179, 179, 179);
  }

  .popover-title {
    background-color: rgba(204, 214, 209, 0.5);
  }
}

.popover.ggg-elo.gold {
  background-color: rgb(177, 154, 92);

  .arrow:after {
    border-top-color: rgb(177, 154, 92);
  }

  .popover-title {
    background-color: rgba(231, 194, 68, 0.5);
  }
}

.popover.ggg-elo.platinum {
  background-color: rgb(98, 130, 123);

  .arrow:after {
    border-top-color: rgb(98, 130, 123);
  }

  .popover-title {
    background-color: rgba(77, 158, 130, 0.5);
  }
}

.popover.ggg-elo.diamond {
  background-color: rgb(113, 152, 183);

  .arrow:after {
    border-top-color: rgb(113, 152, 183);
  }

  .popover-title {
    background-color: rgba(75, 139, 189, 0.5);
  }
}
