.maps {
  max-width: 640px;
  background: url('/assets/img/loading.svg') no-repeat center 50%;
  background-size: 2rem;
}

.top-weapons__type {
  padding: 1em 1.5em;
  margin: 0 -2em;
}

.top-weapons__type + .top-weapons__type {
  border-top: 1px solid #ccc;
}

.top-weapons--map__row {
  .stat {
    line-height: 1.6;
    font-size: .9em;
  }

  & + .top-weapons--map__row {
    margin-top: .75em;
  }
}

.top-weapons__type + .top-weapons__type + .top-weapons__type {
  padding-bottom: 1.5em;
}

.top-weapons__label {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-weight: 400;
  font-size: .8em;
  line-height: 1;
  margin-bottom: 1em;
  display: block;
  color: #666;
}

.top-weapon {
  .stat > span {
    font-size: 1em;
    line-height: 2.1;
  }

  .last-match-weapon__title {
    line-height: 1;
  }
}

.top-weapon + .top-weapon {
  margin-top: .75em;
}

.img-responsive {
  max-width: 100%;
}

.top-weapon-weapon__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-match-weapon__title {
  -ms-flex-item-align: center;
  align-self: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: .9em;
  width: 75%;
  line-height: 1;
}

.top-weapon-weapon__img {
  border-radius: 5px;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  background-color: #532D66;
  background-size: 80% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
