<div class="card" [@animation]="slideMap">
  <div class="modal-hero blog-image"
       [ngStyle]="{'background-image': 'url(https://www.bungie.net' + (mapInfo$ | async)?.pgcrImage + ')'}">
    <div class="modal-hero__header">
      <h2 class="modal-hero__title" [innerHtml]="(mapInfo$ | async)?.name"></h2>
      <!-- TODO: Add popover in case of rotating maps -->
      <p class="modal-hero__description stat" [innerHtml]="(mapInfo$ | async)?.weekText"></p>
    </div>
    <div class="modal-hero__switch">
      <div class="modal-hero__switch__btns">
        <a href="#" [style.opacity]="(mapInfo$ | async)?.week > 1 ? 1 : .2" (click)="previousMap()"><i class="material-icons">&#xE5CB;</i></a>
        <a href="#" [style.opacity]="(mapInfo$ | async)?.week == '47' ? .2 : 1" (click)="nextMap()"><i class="material-icons">&#xE5CC;</i></a>
      </div>
      <label>Other weeks</label>
    </div>
  </div>
  <div class="blog-post__content">
    <div class="row">
      <div class="col-xs-6 col-md-3 stat">
        <span [innerHtml]="(mapInfo$ | async)?.lighthouse | number"></span>
        <label>Flawless runs</label>
      </div>
      <div class="col-xs-6 col-md-3 stat">
        <span [innerHtml]="(mapInfo$ | async)?.players | number"></span>
        <label>Guardians participated</label>
      </div>
      <div class="col-xs-6 col-md-3 stat">
        <span [innerHtml]="(mapInfo$ | async)?.matches | number"></span>
        <label>Total matches</label>
      </div>
      <div class="col-xs-6 col-md-3 stat">
        <span [innerHtml]="(mapInfo$ | async)?.kills | number"></span>
        <label>Total kills</label>
      </div>
    </div>
    <hr>
    <weapon-usage></weapon-usage>
    <hr>
    <guardian-weapons></guardian-weapons>
  </div>
</div>
