@import '../../styles/helpers/all';

@import 'styles/challenge';
@import 'styles/medals';

.maps {
  width: calc(100vw - 2em);
  max-width: 640px;
  background: url('/assets/img/loading.svg') no-repeat center 50%;
  background-size: 2rem;
}
