@import '../../../styles/helpers/all';

.subclass-perk {
  color: #78909C;
  font-family: $condensed-font;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: .9em;

  &:nth-child(n+3) {
    margin-top: .5rem;
  }
}

.subclass-perk__icon {
  background-color: #78909C;
  margin-right: .5rem;
}

.badge--artifact + .badge--blank {
  display: none;
}
