.edit-player__btn {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  transition: opacity ease .2s;
  cursor: pointer;
  position: absolute;
  margin-top: $player-content-padding;
  margin-right: $player-content-padding;
  right: 0;
  top: 0;
  height: #{$player-emblem-size - 2 * $player-content-padding};
  width: #{$player-emblem-size - 2 * $player-content-padding};
  text-shadow: $text-shadow;
  opacity: 0;
  animation: hint 4s;

  .player-header:hover & {
    opacity: 1;
  }

  .is-invalid & {
    display: none;
  }

  i {
    position: relative;
    @include align-both();
    overflow: hidden;
  }
}

.edit-player__input {
  font-size: 1em;
  margin-left: 5.8em;
  position: relative;

  form {
    height: $player-emblem-size;
  }

  input[type="text"] {
    position: relative;
    @include align-vertically();
    height: 2em;
    width: calc(100% - 3.5em);
    display: inline-block;
    padding: 0;
    line-height: 1.4em;
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: -.75px;
    background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#333, #333);

    &:focus {
      height: 2em;
      background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#333, #333);
    }
  }

  button[type="submit"] {
    @include align-vertically();
    position: absolute;
    right: $player-content-padding;
    margin: 0;
  }
}
