.more {
	padding: 0 3rem 0 5rem;
	color: $home-aside-color;
	text-align: right;
	max-width: 25rem;

	hr + hr {
		display: none;
	}

	hr:last-child {
		display: none;
	}
}

.more__title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em;

  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.9);

	 color: $home-aside-color;
	 -webkit-text-fill-color: transparent;
	 background: -webkit-linear-gradient(darken($home-aside-color, 20%), darken($home-aside-color, 20%));
	 background: -o-linear-gradient(darken($home-aside-color, 20%), darken($home-aside-color, 20%));
	 -webkit-background-clip: text;
   -webkit-background-clip: text;
      -moz-background-clip: text;
           background-clip: text;

	margin-bottom: 1.5rem;
}

.more__section {
	> a {
		opacity: .6;
		display: block;
		color: inherit;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
			text-decoration: none;
		}

		label {
			cursor: pointer;
		}

		& + a {
			margin-top: .5rem;
		}
	}

	img {
		height: 3rem;
	}

	label {
		font-weight: 300;
		font-size: .8em;
		margin-bottom: 0;
	}
}

.more__section--side-by-side {
	> a {
		display: flex;
		align-items: center;
	}

	label {
		padding-left: 1rem;
	}
}

.more__logo {
	font-weight: normal;
	font-size: 1.3em;

  text-shadow: 0px 2px 3px rgba(255,255,255,0.9);
	color: $home-aside-color;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(darken($home-aside-color, 20%), darken($home-aside-color, 20%));
	background: -o-linear-gradient(darken($home-aside-color, 20%), darken($home-aside-color, 20%));
	-webkit-background-clip: text;
	   -moz-background-clip: text;
	        background-clip: text;

	.material-icons {
		color: $home-aside-color;
		vertical-align: -13%;
		text-shadow: none;
	}
}

.more__logo--alt {
	font-size: 1.15em;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;

	> span {
		color: darken($home-aside-color, 20%);
		-webkit-text-fill-color: transparent;
		background: -webkit-linear-gradient(darken($home-aside-color, 70%), darken($home-aside-color, 70%));
		background: -o-linear-gradient(darken($home-aside-color, 70%), darken($home-aside-color, 70%));
		-webkit-background-clip: text;
	     -moz-background-clip: text;
	          background-clip: text;
	}
}

.more__logo--small {
	font-size: 1.1em;
}

@media all and (max-width: 960px) {
	.more {
		margin: auto;
		margin-top: 3em;
		text-align: center;
	}
}
