.main-search {
  background: white;
}

.main-search__fireteam {
  > form + div,
  > form + div + div {
    background: darken(white, 2%);
  }

  > form + div {
    @include mild-inset-shadow();
  }

  > form + div + div {
    border-top: 1px solid darken(white, 10%);
  }
}

.main-search__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.main-search__controls {
  flex-shrink: 1;
  white-space: nowrap;

  > div {
    display: inline-block;
  }
}

.main-search__input {
  flex-grow: 1;
  padding-right: 1em;

  input {
    padding-left: $controls-padding;
    height: auto !important;
    background-image: none !important;
    line-height: 4em;
    cursor: pointer;
    font-size: 1.1em;

    &:focus,
    &:active {
      padding-left: $controls-padding;
    }
  }
}

.main-search__replace {
  float: right;
  margin-left: 6px;
}
