.maps {
  position: relative;
  z-index: 1;
  transition: transform ease-in-out .3s, opacity linear .3s;

  &.is-switching-left {
    transform: translate3d(5em, 0, 0);
    opacity: 0;
  }

  &.is-waiting-left {
    transition: none;
    opacity: 0;
    transform: translate3d(-5em, 0, 0);
  }

  &.is-switching-right {
    transform: translate3d(-5em, 0, 0);
    opacity: 0;
  }

  &.is-waiting-right {
    transition: none;
    opacity: 0;
    transform: translate3d(5em, 0, 0);
  }
}
