.player-overview {
  position: relative;
  background-color: #2A333E;
  border-top-left-radius: $player-card-border-radius;
  border-top-right-radius: $player-card-border-radius;
}

.player-header {
  background-size: cover;
  background-position: 0 top;
  background-repeat: no-repeat;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  position: relative;

  white-space: nowrap;
  overflow: hidden;
}

.player-header__emblem {
  width: $player-emblem-size;
  height: $player-emblem-size;
  float: left;
  margin-right: .5em;
  border-top-left-radius: $player-card-border-radius;

  .player.is-invalid & {
    opacity: 0;
  }
}

.player-header__char {
  display: flex;
  align-items: center;
  height: $player-emblem-size;
  color: $player-card;
  vertical-align: middle;
  max-width: calc(100% - #{$player-emblem-size + .5em});
  width: 100%;

  .player.with-overlay & {
    opacity: 0;
  }
}

.player-header__gamertag {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: $text-shadow;
}

.player-info {
  font-size: .8em;
  flex-grow: 1;
  text-shadow: $text-shadow;
}

.player-info__class {
  margin-right: .5em;
}

.player-level {
  padding: 0 1em 0 0.5em;
  text-align: right;
  float: right;
  text-shadow: $text-shadow;
}

.player-level__level {
  font-size: .9em;
}

.player-level__light {
  font-size: 1.1em;
  font-weight: normal;
}

.player-level__grimoire {
  font-size: .8em;

  img {
    height: 1em;
    margin-right: .1em;
  }
}
