.player-this-week {
	@include mild-inset-shadow();
	background: #fafafa;
	position: relative;

	.player-quick-look.is-hidden + .player-main-stats.is-hidden + & {
		@include inset-shadow();
	}

	> .stat-header {
		font-size: 1em;
		border-bottom: 1px solid #eee;
		margin: 0 #{-$player-content-padding} $player-content-padding ;
		padding: 0 $player-content-padding #{$player-content-padding / 2};

		> span {
			font-size: .8em;
		}
	}
}

.player-this-week__stats {
	border-top: 1px solid #eee;
	margin: $player-content-padding #{-$player-content-padding} 0;
	padding: $player-content-padding $player-content-padding 0;
}

.player-this-week__weapons {
	img {
		height: 1em;
	}
	
	& + .player-this-week__weapons {
		margin-top: .2em;
	}
}
