.last-match__result {
  text-align: center;

  .match {
    width: 8px;
    height: 8px;
    top: -.3em;
    position: relative;
    margin-right: .3em;
  }
}

.last-match__date {
  color: #999;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  font-family: 'Roboto Condensed';
}

.last-match__score {
  font-size: 2em;
}

.last-match__score--opponents {
  color: #999;
}

.last-match-weapon:not(:first-child) {
  margin-top: 1em;
}

.last-weapon-weapon__descr {
  display: flex;
}

.last-match-weapon__img {
  border-radius: 5px;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  align-self: center;
  background-color: #532D66;
  background-size: 80% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.last-match-weapon__title {
  align-self: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: .9em;
}

.last-match__medal {
  margin: .5em 0;
}

.last-match__medal-count {
  text-align: center;

  sup {
    top: -.2em;
    margin-right: .1em;
  }
}
