.player-perk {
  white-space: nowrap;
  margin: .25em 0;
  display: flex;
}

.player-perk__icon {
  width: 1.5em;
  height: 1.5em !important;
  background: $perk-background;
  margin-right: .5em;
  border-radius: 5px;
  padding: 3px;
}

.player-perk__title {
  align-self: center;
  font-family: 'Roboto Condensed';
  font-weight: normal;
  font-size: .9em;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $perk-background;
}
