.player-cooldown__label {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  color: #666;
  margin-bottom: .3em;
}

.player-cooldown__nr .progress {
  border-radius: 3px;
  overflow: hidden;
  height: 5px;
  margin: 0;
}

.player-cooldown__nr .progress-bar {
  text-align: left;
}

.player-cooldown__nr .progress .progress-bar-primary {
  background: #607D8B;
}

.player-cooldown__perc {
  padding-left: .5em;
}

.player-cooldown__tier {
  float: left;
  width: 20%;

  &.is-incomplete .progress .progress-bar-primary {
    background: lighten(#607D8B, 25%);
  }
}

.player-cooldown__tier:first-child {
  margin-left: -1px;
}

.player-cooldown__tier {
  padding-left: 1px;
}
