.settings-btn {
	position: relative;
	display: flex;
	align-items: stretch;
	z-index: -1;

	.btn.btn.btn {
		background: rgba(255, 255, 255, .1);
		display: block;
		width: 100%;
		text-align: left;
		padding: 1em $controls-padding;
		font-size: .9em;
		color: rgba(255, 255, 255, .5);
		border-right: 1px solid #222;
		flex-grow: 1;
			opacity: .5;

		&:hover {
			background: rgba(255, 255, 255, 0.1);
			opacity: 1;
		}
	}
}

.settings__master {
	display: flex;
	align-items: center;
	padding-left: .75em;
	cursor: pointer;
	background: rgba(255, 255, 255, .03);
	border-left: 1px solid #666;
	opacity: .5;
	flex-shrink: 0;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
		opacity: 1;
	}

	.togglebutton {
		transform: scale(0.8);
	}

	.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
		background-color: rgba(150, 150, 150, 0.7);

		&:after {
			background-color: rgba(150, 150, 150, 1);
		}
	}

	> label {
		color: rgba(255, 255, 255, .5);
		font-weight: normal;
		font-size: .7em;
		font-family: 'Roboto', sans-serif;
		text-align: right;
		margin-right: .75em;
		cursor: pointer;
		flex-shrink: 0;
	}
}

.settings-modal {
	.modal-hero {
		background: repeating-linear-gradient(
		  45deg,
		  #333,
		  #333 5px,
		  darken(#333, 10%) 5px,
		  darken(#333, 10%) 10px
		);
	}

	.modal-hero__title {
		font-size: 1.3em;
	}

	.row {
		transition: opacity linear .2s;
	}

	.row.is-disabled {
		opacity: .3;
		pointer-events: none;
	}
}

.setting {
	> label {
		@extend .data-label;
		color: darken(#999, 20%);
	}

	.togglebutton {
		margin-bottom: .75em;
	}

	> span {
		font-size: .8em;
		line-height: 1.4;
		display: block;
		color: lighten(#999, 10%);
	}
}
