@mixin align-both() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin align-vertically() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin inset-shadow() {
  box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.75);
}

@mixin mild-inset-shadow() {
  box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.25);
}

@mixin tab-background($bg) {
  background-image: linear-gradient(180deg, $bg 0%, darken($bg, 10%) 50%, lighten($bg, 1%) 100%);
}

@mixin tab-background-minor($bg) {
  background-image: linear-gradient(180deg, $bg 0%, darken($bg, 2%) 50%, lighten($bg, 1%) 100%);
}

@mixin overlay-modifiers() {
  filter: blur(2px);
  pointer-events: none;
}

@mixin shadow($level: 1) {
  @if $level == 1 { box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12); }
  @else if $level == 2 { box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19); }
  @else if $level == 3 { box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); }
  @else if $level == 4 { box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21); }
  @else if $level == 5 { box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); }
}
