<div class="home">
  <main>
    <maps></maps>
  </main>
  <aside>
    <div class="home-aside">
      <h2 class="home-aside__title text-logo">More Trials Report!</h2>
      <hr>
      <a class="home-aside__section"
         href="https://twitter.com/trialsreport"
         target="_blank"
         title="Destiny Trials Report on Twitter">
        <div class="row row--small-gutter middle-xs">
          <img class="col-xs-shrink" src="/assets/img/twitter.svg">
          <label class="col-xs">
            Follow us on <span class="color-twitter">Twitter</span> for updates on the site and all things Destiny!
          </label>
        </div>
      </a>
      <hr>
      <a class="home-aside__section" (click)="getAuthorization()" target="_self">
        <div class="home-aside__logo text-logo">auth</div>
        <label>
          Auth With Bungo
        </label>
      </a>
      <a class="home-aside__section" href="https://my.trials.report" target="_self">
        <div class="home-aside__logo text-logo">myReport</div>
        <label>
          See all your characters in one view with more detailed stats
        </label>
      </a>
      <hr>
      <a class="home-aside__section" [routerLink]="['/leaderboards']">
        <div class="home-aside__logo home-aside__logo--alt text-logo"><span>Leaderboards</span></div>
        <label>
          Track the top most used weapons for this week.
        </label>
      </a>
      <hr>
      <a class="home-aside__section" href="https://opponents.trials.report" target="_self">
        <div class="home-aside__logo home-aside__logo--alt text-logo"><span>my</span>Opponents</div>
        <label>
          Search through your opponents and see every match in detail
        </label>
      </a>
      <hr>
      <div class="home-aside__section">
        <a
          title="Guardian.gg"
          href="https://guardian.gg"
          target="_blank">
          <span class="home-aside__logo home-aside__logo--small">GUARDIAN.GG</span>
        </a>
      </div>
    </div>
  </aside>
</div>
