@media all and (max-width: 340px) {
  body {
    font-size: 12px;
  }
}

.main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}

.controls-wrapper {
  min-height: 100vh;
  min-width: 300px;
  width: 25vw;
  max-width: 420px;
  overflow-x: hidden;
  z-index: 99;
  display: flex;
  pointer-events: none;
}

.controls {
  pointer-events: auto;
  width: 100%;
  background: $header-bg;
  display: flex;
  flex-direction: column;
  color: $text-on-dark;
  flex-grow: 1;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 60;
}

@media all and (max-width: 1280px) {
  .wrapper {
    display: block;
    overflow: auto;
    min-height: 100vh;
  }

  .overlay {
    display: block;
    opacity: 1;
    transition: opacity linear .5s;
  }

  .controls-wrapper {
    position: relative;
    width: 100%;
    max-width: none;
    min-height: 100vh;
    padding: 3em 15px 0 15px;
    box-shadow: none;
    transition: transform cubic-bezier(.55,0,.1,1) .5s;
    transform: translateY(0%);
    will-change: transform;
  }

  .controls {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-width: 420px;
    margin: 0 auto;
  }

  .content {
    position: fixed;
    width: 100%;
    pointer-events: none;
    top: 0;
  }

  .wrapper {
    overflow: hidden;
  }

  .focus-on-players {
    .controls-wrapper {
      position: fixed;
      transform: translateY(120%);
    }

    .overlay {
      opacity: 0;
      pointer-events: none;
    }

    .content {
      position: static;
      pointer-events: auto;
    }
  }
}

.row--small-gutter {
  margin-left: -5px;
  margin-right: -5px;

  > .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.weapon-type-icon {
  line-height: 1em;
  max-height: 1em;
  margin: .25em 0;
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(to right, rgba(150,150,150,0.1) 0%,rgba(150,150,150,.3) 50%,rgba(150,150,150,0.1) 100%);

  &.hr--minor {
    margin: .75em 0;
    background: linear-gradient(to right, rgba(200,200,200,0.1) 0%,rgba(200,200,200,.3) 50%,rgba(200,200,200,0.1) 100%);
  }

  &.hr--faded {
    background: linear-gradient(to right, rgba(200,200,200,0.1) 0%,rgba(200,200,200,.3) 50%,rgba(200,200,200,0.1) 100%);
  }
}

.info {
  color: $info;
}

.star {
  color: $info;
}

.rating--unrated {
  i {
    opacity: .25;
  }

  &:hover i {
    opacity: 1;
  }
}

@media all and (max-width: 991px) {
  .col-xs-6:nth-child(n+3) {
    margin-top: 1em;
  }
}

@media all and (min-height: 910px) and (min-width: 1281px) {
  .controls-wrapper {
    position: fixed;
    height: 100vh;
  }

  .content {
    padding-left: 25vw;
  }
}
