<div class="player card">
   <player-header
     [playerObs]="(player$ | async)"
     [subclass]="(inventory$ | async | filterSubclass)[0]">
   </player-header>

   <player-intro
     [statsDtr]="(stats$ | async)?.trials"
     [statsBng]="(stats$ | async)?.bungie"
     [statsGgg]="(stats$ | async)?.guardian"
     [activities]="(activities$ | async)">
  </player-intro>

  <hr class="hr--no-margin">
  <tabset class="tabs">
    <tab heading="This week" customClass="tab__nav tab--style-four">
      <div class="tab tab--style-four">
        <div class="tab__content">
          <player-tab-summarized
            [stats]="(stats$ | async)?.trials?.currentWeek">
          </player-tab-summarized>
        </div>
      </div>
    </tab>
    <tab heading="This map" customClass="tab__nav tab--style-five">
      <div class="tab tab--style-five">
        <div class="tab__content">
          <player-tab-summarized
            [stats]="(stats$ | async)?.trials?.currentMap">
          </player-tab-summarized>
        </div>
      </div>
    </tab>
  </tabset>

  <tabset class="tabs">
    <tab heading="Equipped" customClass="tab__nav tab--style-one">
      <div class="tab tab--style-one">
        <div class="tab__content">
          <player-tab-equipped
            [loaded]="(loaded$ | async)?.inventory"
            [inventory]="(inventory$ | async)"
            [stats]="(player$ | async)?.characterBase?.stats">
          </player-tab-equipped>
        </div>
      </div>
    </tab>
    <tab heading="Last Matches" (select)="getMatchHistory()" customClass="tab__nav tab--style-two">
      <div class="tab tab--style-two">
        <div class="tab__content">
          <player-tab-recent-matches
            [pgcr]="(pgcr$ | async)">
          </player-tab-recent-matches>
        </div>
      </div>
    </tab>
    <tab heading="Stats" customClass="player-tab--stats" customClass="tab__nav tab--style-three">
      <div class="tab tab--style-three">
        <div class="tab__content">
          <player-tab-stats
            [stats]="(stats$ | async)?.bungie">
          </player-tab-stats>
        </div>
      </div>
    </tab>
  </tabset>

   <player-footer>
   </player-footer>
</div>
