<div class="card__header card__header--high" [ngStyle]="{'background-image': 'url(https://www.bungie.net' + map?.current?.pgcrImage + ')'}">
  <div class="row top-xs" style="padding-top: 1rem; text-align: right;" *ngIf="selected?.leaderboard !== 'searched'">
    <div class="col-xs select-container">
      <span class="stat-label" style="color: white;text-shadow: 0 0 20px rgba(0, 0, 0, 1);" [innerHtml]="'updated: ' + (updatedAt | date: 'medium')"></span>
    </div>
  </div>
  <div class="row bottom-xs" style="padding-top: 7rem;">

    <div class="col-xs-shrink select-container">
      <div class="select">
        <select [ngModel]="selectedYear" (ngModelChange)="toWeek(selectedWeek, $event)">
          <option value="{{year.value}}" *ngFor='let year of leaderboardYears; let i = index;' [innerHtml]="year.text"></option>
        </select>
      </div>
      <div class="stat-label">Year</div>
    </div>

    <div class="col-xs-shrink select-container">
      <div class="select">
        <select [ngModel]="selectedWeek" (ngModelChange)="toWeek($event, selectedYear)">
          <option value="{{week.value}}" *ngFor='let week of ((selectedWeek < 45 || selectedWeek == 200) ? YearTwoWeeks : ((selectedWeek > 99 && selectedWeek < 200) ? YearOneWeeks : YearThreeWeeks)); let i = index;' [innerHtml]="week.text"></option>
        </select>
      </div>
      <div class="stat-label">Week</div>
    </div>

    <div class="col-xs-shrink select-container">
      <div class="select">
        <select [ngModel]="selected.leaderboard" (ngModelChange)="filterByType($event, selected.type)">
          <option value="select-leaderboard" disabled>Select One</option>
          <option value="{{type.value}}" *ngFor='let type of leaderboardTypes; let i = index;' [innerHtml]="type.text"></option>
        </select>
      </div>
      <div class="stat-label">Leaderboard</div>
    </div>

    <div class="col-xs select-container">
      <div class="select">
        <select [(ngModel)]="selected.type"
                (ngModelChange)="filterByType(selected.leaderboard, $event)"
                [disabled]="selected?.leaderboard === 'searched'">
          <option value="{{type.id}}" *ngFor='let type of typeSelection; let i = index;' [innerHtml]="type.text"></option>
        </select>
      </div>
      <div class="stat-label">Type</div>
    </div>

    <div class="col-xs select-container" *ngIf="selected?.leaderboard == 'weapons'">
      <div class="select">
        <select [(ngModel)]="selected.tier"
                (ngModelChange)="filterByTier($event)">
          <option value="{{type.value}}" *ngFor='let type of weaponTiers; let i = index;' [innerHtml]="type.text"></option>
        </select>
      </div>
      <div class="stat-label">Tier</div>
    </div>

    <div class="col-xs select-container" *ngIf="hasSearchBar">
      <div class="select">
        <input [(ngModel)]="selectedWeapon"
               [typeahead]="weaponList"
               (click)="selectedWeapon = ''"
               (tap)="selectedWeapon = ''"
               [typeaheadOptionField]="'name'"
               (typeaheadOnSelect)="getPlayerForWeapon($event)"
               [placeholder]="selectedWeapon || 'Weapon Name'">
      </div>
      <div class="stat-label">Name</div>
    </div>

    <div class="col-xs select-container" *ngIf="map?.current?.multiple == '1'">
      <div class="select">
        <select [(ngModel)]="selected.map"
                (ngModelChange)="filterByMap($event)">
          <option value="0">All</option>
          <option value="{{map}}" *ngFor='let map of map?.current?.maps; let i = index;' [innerHtml]="getMapNameFromId(map)"></option>
        </select>
      </div>
      <div class="stat-label">Map</div>
    </div>

    <!--<div class="col-xs-shrink select-container" *ngIf="selected?.leaderboard == 'medals' || selected?.leaderboard == 'players'">-->
    <!--<div class="select">-->
    <!--<select [(ngModel)]="selectedPlatform"-->
    <!--(ngModelChange)="filterByPlatform($event)"-->
    <!--[disabled]="selected?.leaderboard === 'searched'">-->
    <!--<option value="{{type.value}}" *ngFor='let type of platforms; let i = index;' [innerHtml]="type.text"></option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div class="stat-label">Tier</div>-->
    <!--</div>-->
  </div>
</div>
