$dark-main-color: #323232;
$light-main-color: #ffffff;
$gray-main-color: #B0BEC5;
$light-secondary-color: #999999;
$highlight-main-color: #FFD700;
$interactive-main-color: #2196F3;

$light-background-color: #eee;
$dark-background-color: $dark-main-color;

$xbox-color: #107C10;
$playstation-color: #0066C2;
$twitter-color: $interactive-main-color;

$success-color: #00C853;
$error-color: #D50000;
$warning-color: #FF8F00;
$info-color: #03A9F4;
$hazard-color: #F44336;

$transparent-hover-light-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
$hr-color: $light-secondary-color;
$data-label-color: $light-secondary-color;
$perk-color: $gray-main-color;
$challenge-color: #009688;

$home-aside-color: #777;

$inactive-tab-color: #90A4AE;
$inactive-tab-text-color: #fff;
$active-tab-text-color: #666666;
$tab-style-one-color: #ECEFF1;
$tab-style-two-color: #E8F5E9;
$tab-style-three-color: #E8EAF6;
