$dark-main: #323232;
$light-main: #ffffff;
$light-secondary: #999999;
$highlight-main: #FFD700;
$interactive-main: #2196F3;

$light-background: #eee;
$dark-background: $dark-main;

$xbox: #107C10;
$playstation: #0066C2;
$twitter: $interactive-main;

$success: #00C853;
$error: #D50000;
$warning: #FF8F00;
$info: #03A9F4;

$transparent-hover-light: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
$hr-color: #999;
$data-label: #999;

$home-aside-color: #777;

// ---

$main-dark: #333;
$xbox-main: #107C10;
$playstation-main: #0066C2;
$success: #00C853;
$fail: #D50000;
$warning: #FF8F00;
$info: #03A9F4;

$text-on-dark: #999;
$controls-btn-color: darken(white, 30%);

$equipped-background: #ECEFF1;
$last-matches-background: #E8F5E9;
$stats-background: #E8EAF6;
$maps-background: #E0F2F1;
$this-week-background: #E0F2F1;
$map-based-background: #E0F7FA;

$header-bg: $main-dark;
$footer-bg: $main-dark;
$player-card: #fcfcfc;
$primary: #2196F3;

$perk-background: #78909C;
$hazard-background: #F44336;
