$dark-main-color: #323232;
$light-main-color: #ffffff;
$light-secondary-color: #999999;
$highlight-main-color: #FFD700;
$interactive-main-color: #2196F3;

$light-background-color: #eee;
$dark-background-color: $dark-main-color;

$xbox-color: #107C10;
$playstation-color: #0066C2;
$twitter-color: $interactive-main-color;

$success-color: #00C853;
$error-color: #D50000;
$warning-color: #FF8F00;
$info-color: #03A9F4;

$transparent-hover-light-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
$hr-color: $light-secondary-color;
$data-label-color: $light-secondary-color;

$home-aside-color: #777;

// ---

$main-dark-color: #333;
$xbox-color-main: #107C10;
$playstation-color-main: #0066C2;
$success-color: #00C853;
$fail: #D50000;
$warning-color: #FF8F00;
$info-color: #03A9F4;

$text-on-dark: #999;
$controls-btn-color: darken(white, 30%);

$equipped-background: #ECEFF1;
$last-matches-background: #E8F5E9;
$stats-background: #E8EAF6;
$maps-background: #E0F2F1;
$this-week-background: #E0F2F1;
$map-based-background: #E0F7FA;

$header-bg: $main-dark-color;
$footer-bg: $main-dark-color;
$player-card: #fcfcfc;
$primary: #2196F3;

$perk-background: #78909C;
$hazard-background: #F44336;
