$grid-gutter: 1rem;

$os-primary-color: #2196F3;
$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;

$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1280px;

$player-card-border-radius: 1em;
$player-emblem-size: 5em;
$player-content-padding: 1em;

$text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
$controls-padding: 1.5em;
