<div class="leaderboards">
  <main>
    <div class="maps">
      <div class="card">
        <div class="card__header card__header--high" [ngStyle]="{'background-image': 'url(https://www.bungie.net' + (currentMap$ | async)?.pgcrImage + ')'}">
          <div class="row bottom-xs">
            <div class="col-xs-shrink card__header__title">
              Trials Week
              <span [innerHtml]="(currentMap$ | async)?.weekInYear"></span>
              -
              <span [innerHtml]="(currentMap$ | async)?.year"></span>
              <p class="card__header__title--map" [innerHtml]="(currentMap$ | async)?.activityName"></p>
            </div>
            <div class="col-md center-xs card__header__select">
              <h2 class="card__header__title--context" [innerHtml]="'Most Kills with Weapon Name Here'"></h2>
              <!--<div class="btn card__header__select&#45;&#45;dropdown">-->
                <!--<button class="middle-xs btn btn&#45;&#45;icon btn&#45;&#45;ghost" (click)="nextMap()">-->
                  <!--<i class="material-icons">&#xE5CB;</i>-->
                <!--</button>-->
                <!--<select class="data-label" style="width: auto">-->
                  <!--<option *ngFor='let medal of medalList; let i = index;' value="{{medal.id}}" [innerHtml]="medal.statName"></option>-->
                <!--</select>-->
                <!--<button class="middle-xs btn btn&#45;&#45;icon btn&#45;&#45;ghost" (click)="nextMap()">-->
                  <!--<i class="material-icons">&#xE5CC;</i>-->
                <!--</button>-->
              <!--</div>-->
            </div>
            <div class="col-xs-shrink">
              <div class="card__header__controls">
                <button class="btn btn--icon btn--ghost" [style.opacity]="(mapInfo$ | async)?.week > 1 ? 1 : .2"
                        (click)="previousMap()">
                  <i class="material-icons">&#xE5CB;</i>
                </button>
                <button class="btn btn--icon btn--ghost" [style.opacity]="(mapInfo$ | async)?.week == maxWeek ? .2 : 1"
                        (click)="nextMap()">
                  <i class="material-icons">&#xE5CC;</i>
                </button>
              </div>
              <div class="data-label">Other weeks</div>
            </div>
          </div>
        </div>
        <div class="card__content" *ngIf="!(error$ | async)" [ngClass]="{'loading-container': loading}">

          <leaderboard-weapon-types *ngIf="(leaderboardType$ | async)"
                                    [items]="(items$ | async)"
                                    [leaderboardType]="(leaderboardType$ | async)"
                                    [leaderboardTypes]="leaderboardTypes"
                                    [selectedType]="(selectedType$ | async)"
                                    [selectedFilter]="(selectedFilter$ | async)"
                                    [currentWeek]="currentWeek"
                                    [currentPage]="(currentPage$ | async)"
                                    [itemsPerPage]="10"
                                    [@loading]="loading$ | async">
          </leaderboard-weapon-types>

          <leaderboard-search *ngIf="(leaderboardType$ | async) == 'select-leaderboard'"
                              [weapons]="(playerWeapons$ | async)"
                              [itemsPerPage]="10"
                              [searchedPlayer]="(searchedPlayer$ | async)"
                              [leaderboardType]="(leaderboardType$ | async)"
                              [leaderboardTypes]="leaderboardTypes"
                              [currentPage]="(currentPage$ | async)"
                              [@loading]="loading$ | async">
          </leaderboard-search>

          <leaderboard-players *ngIf="(leaderboardType$ | async) == 'players'"
                               [players]="(players$ | async)"
                               [itemsPerPage]="10"
                               [selectedWeaponName]="selectedWeaponName$ | async"
                               [weaponList]="weaponList$ | async"
                               [currentWeek]="currentWeek"
                               [currentPage]="(currentPage$ | async)"
                               [leaderboardType]="(leaderboardType$ | async)"
                               [leaderboardTypes]="leaderboardTypes"
                               [@loading]="loading$ | async">
          </leaderboard-players>

          <hr>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content" *ngIf="(error$ | async)">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <p style="color: #F44336;font-size: 1.2em;font-weight: bold;">Request Failed</p>
                <span>Please check gamertag and try again.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
