@import '../../styles/helpers/all';

@import 'styles/base';

.card__header__title {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Roboto Condensed';
  color: $home-aside-color;
  text-transform: uppercase;
}

.card__header--high {
  padding-top: 0;
}

.card__header__title--map {
  font-size: 1.3em;
  margin: 0;
}

.card__header__title--context {
  font-size: 1em;
  font-weight: 300;
  color: #fafafa;
  text-transform: uppercase;
}

.maps {
  width: 50vw;
  max-width: 720px;
}

.loading__background {
  width: calc(100vw - 2em);
  max-width: 640px;
  background: url('/assets/img/loading.svg') no-repeat center 50%;
  background-size: 2rem;
}

.weapon-icon {
  height: 1.5rem;
  max-width: 1.5rem;
}

.select {
  position: relative;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  border-radius: .3em;
  margin-bottom: 1em;
  -webkit-transition: box-shadow ease-in-out .2s;
  transition: box-shadow ease-in-out .2s;
}

.card__header__select {
  .material-icons {
    color: white;
  }
}

.card__header__select--dropdown {
  position: relative;
  width: 100%;
  background: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: .3em;
  -webkit-transition: box-shadow ease-in-out .2s;
  transition: box-shadow ease-in-out .2s;

  select {
    color: $home-aside-color;
  }
}

.select:after {
  font-family: 'Material Icons';
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  letter-spacing: normal;
  font-style: normal;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

select {
  cursor: pointer;
}

select, input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .8em 1.3em;
  border: 0;
  background: 0 0;
}


.text-center {
  text-align: center;
}

.stat-header {
  margin-bottom: 1em;
}

.ng2-pagination {
  padding-left: 0;
}

.not-found {
  text-align: center;
  margin-bottom: 1em;
}

.not-found__icon {
  width: 125px;
  height: 125px;
}

.not-found__title {
  font-size: 1.25rem;
  font-weight: 400;
}

@media all and (max-width: $breakpoint-large) {
  .maps {
    width: 95vw;
    margin-bottom: 5em;
  }
}

@media all and (max-width: $breakpoint-medium) {
  .select-container {
    margin-bottom: 1em;
  }
}

@media all and (max-width: $breakpoint-small) {
  .card__header__title {
    font-size: .8em;
  }

  .card__header__title--map {
    font-size: 1em;
    margin: 0;
  }

  .map-nav {
    display: none;
  }

  .hide-stat {
    display: none;
  }

  .col-xs-6 {
    margin-top: 0;
  }

  .selected__weapon-icon {
    display: none;
  }
}
