<div class="leaderboards">
  <main>
    <div class="maps" [@animation]="slideMap$ | async">
      <div class="card">

        <leaderboard-header [currentMap]="(currentMap$ | async)"
                            [updatedAt]="(updatedAt$ | async)"
                            [leaderboardType]="(leaderboardType$ | async)"
                            [leaderboardTypes]="leaderboardTypes"
                            [selectedType]="(selectedType$ | async)"
                            [selectedTier]="(selectedTier$ | async)"
                            [selectedPlatform]="(selectedPlatform$ | async)"
                            [typeSelection]="typeSelection$ | async"
                            [weaponList]="weaponList$ | async"
                            [currentWeek]="currentWeek"
                            (changeWeek)="goToWeek($event)">
        </leaderboard-header>

        <div class="card__content" *ngIf="!(error$ | async)">

          <leaderboard-table *ngIf="currentWeek"
                                    [items]="(items$ | async)"
                                    [leaderboardType]="(leaderboardType$ | async)"
                                    [leaderboardTitle]="(leaderboardTitle$ | async)"
                                    [selectedType]="(selectedType$ | async)"
                                    [selectedIcon]="(selectedIcon$ | async)"
                                    [currentPage]="(currentPage$ | async)"
                                    [currentMap]="(currentMap$ | async)"
                                    [previousMap]="(previousMap$ | async)"
                                    [nextMap]="(nextMap$ | async)"
                                    [loading]="loading$ | async"
                                    [maxWeek]="maxWeek"
                                    (changeWeek)="goToWeek($event)">
          </leaderboard-table>

          <div class="col-xs-12"><hr></div>

          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content" *ngIf="(error$ | async)">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <p style="color: #F44336;font-size: 1.2em;font-weight: bold;">Request Failed</p>
                <span>Please check gamertag and try again.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
