<div class="menu">
  <header class="header">
    <div class="header__content">
      <div class="title menu__block" [ngStyle]="{'background-image': 'url(https://www.bungie.net' + (currentMap$ | async)?.pgcrImage + ')'}">
        <div class="row middle-xs">
          <div class="col-xs">
            <a routerLink="/">
              <h1>
                Destiny<span class="highlight">Trials</span>Report
              </h1>
            </a>
          </div>
          <div class="col-xs-shrink platform-toggle">
            <label class="platform-toggle__label">
              <img src="assets/img/ps.svg" alt="PlayStation">
            </label>
            <label class="toggle">
              <input type="checkbox">
              <span class="toggle__btn"></span>
            </label>
            <label class="platform-toggle__label">
              <img src="assets/img/xbox.svg" alt="Xbox">
            </label>
          </div>
          <!-- TODO: Implement XBOX/PS toggle -->
        </div>
      </div>

      <div class="search">
        <div class="search__player search__player--main row middle-xs">
          <div class="col-xs">
            <!-- TODO: Make search work -->
            <input type="text" class="form-control" [value]="query" (keyup)="search(2, $event.target.value)"
                   autocorrect="off" autocomplete="off" spellcheck="false" [placeholder]="(player1$ | async)?.displayName || 'Enter your opponents\' gamertag'">
          </div>
          <div class="col-xs-shrink row row--no-gutter">
            <div class="col-xs">
              <button class="btn btn--icon btn--ghost" type="button">
                <i class="material-icons">&#xE86A;</i>
              </button>
            </div>
            <div class="col-xs">
              <button class="btn btn--icon btn--ghost" type="submit">
                <i class="material-icons">&#xE163;</i>
              </button>
            </div>
          </div>
        </div>
        <div class="search__player" *ngIf="(player2$ | async)?.displayName">
          <input type="text" class="form-control" autocorrect="off" autocomplete="off" spellcheck="false"
                 [placeholder]="(player2$ | async)?.displayName">
        </div>
        <div class="search__player" *ngIf="(player3$ | async)?.displayName">
          <input type="text" class="form-control" autocorrect="off" autocomplete="off" spellcheck="false"
                 [placeholder]="(player3$ | async)?.displayName">
        </div>
      </div>

      <div class="current-map menu__block"
           [ngStyle]="{'background-image': 'url(https://www.bungie.net' + (currentMap$ | async)?.pgcrImage + ')'}">
        <div class="row">
          <div class="col-xs stat">
            <span class="stat__number" [innerHtml]="(currentMap$ | async)?.activityName"></span>
            <label class="stat__label" [innerHtml]="(currentMap$ | async)?.weekText + '\'s map'"></label> <!-- TODO: Toggle between this week's / last week's map -->
          </div>
          <!--<div class="col-xs-shrink">
            <button type="button" class="btn btn-flat btn-sm">
              Overview
            </button>
          </div> TODO: Only show this when we have an overview, implement modal -->
        </div>
      </div>
      <!-- TODO: Make this work -->
      <div class="settings-bar row row--no-gutter middle-xs">
        <div class="col-xs">
          <button class="settings-bar__btn btn btn--ghost btn--block btn--on-dark">
            <i class="material-icons icon--small">&#xE8B8;</i> Language &amp; Settings
          </button>
        </div>
        <div class="col-xs-shrink">
          <div class="settings-bar__switch">
            <div class="row row--small-gutter middle-xs">
              <label class="col-xs">Ignore custom<br>card settings</label>
              <label class="toggle toggle--gray col-xs-shrink">
                <input type="checkbox">
                <span class="toggle__btn"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <footer class="footer">
    <!-- TODO: Style this once the Ad is visible -->
    <!-- <div class="block__footer-dark block__footer--ad-dark" style="min-width:336px;min-height:280px">
      <div class="ad" style="min-width:336px;min-height:280px"> -->
        <!--<adsense ad-client="ca-pub-7408805581120581" ad-slot="8795722555" inline-style="display:inline-block;width:336px;height:280px"></adsense>-->
      <!-- </div>
    </div> -->

    <div class="donate">
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MNKJ7R6TA4XJE" target="_blank">
        <div class="donate__title">
          Help us run this site, donate with <img class="donate__logo" src="/assets/img/paypal.svg" alt="PayPal">
        </div>
        <div class="donate__descr">
          You get a sexy&nbsp;<span class="badge badge--donator">Donator</span>&nbsp; badge if you donate at least $1 and leave your gamertag with the donation!
        </div>
      </a>
    </div>

    <div class="colofon">
      <div class="row row--small-gutter middle-xs">
        <div class="col-xs">
          © 2016 Destiny<span class="highlight">Trials</span>Report
        </div>
        <div class="col-xs-shrink">
          <a href="https://twitter.com/TrialsReport" target="_blank">
            <img src="/assets/img/twitter.svg" alt="Twitter">
          </a>
        </div>
        <div class="col-xs-shrink colofon__email">
          <a href="mailto:destinytrialsreport@gmail.com" target="_blank">
            <i class="material-icons">&#xE158;</i>
          </a>
        </div>
        <div class="col-xs-shrink">
          <a href="https://github.com/DestinyTrialsReport/DestinyTrialsReport" target="_blank">
            <img src="/assets/img/github.svg" alt="GitHub">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
