.platform-toggle {
  display: flex;
  align-items: center;

  .toggle {
    margin: 0 .5rem 0 .8rem;
  }
}

.platform-toggle__label {
  img {
    height: 1.3rem;
  }
}

.platform-toggle input[type=checkbox] + .toggle__btn {
  background: transparentize($playstation-color, .2);

  &:after {
    background: $playstation-color;
  }
}

.platform-toggle input[type=checkbox]:checked + .toggle__btn {
  background: transparentize($xbox-color, 0.2);

  &:after {
    background: $xbox-color;
  }
}
