.settings-bar {
  align-items: stretch;
  box-shadow: $inset-shadow;
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.settings-bar__btn {
  padding: .5rem $menu-padding;
  height: 100%;
  font-size: .9em;
  text-align: left;
  background: transparentize($light-secondary-color, .9);

  &:hover {
    background: $transparent-hover-light-color;
  }
}

.settings-bar__switch {
  padding: .5rem $menu-padding .5rem 1rem;
  cursor: pointer;
  font-size: .7em;
  text-transform: uppercase;
  color: $light-secondary-color;

  &:hover {
    background: $transparent-hover-light-color;
    @include shadow(2);
  }
}
