html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.highlight {
  color: $highlight-main;
}

small {
  font-size: 1em;
}

label {
  cursor: inherit;
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(to right, transparentize($hr-color, 1) 0, transparentize($hr-color, .7) 50%, transparentize($hr-color, .9) 100%);
}

a {
  color: $interactive-main;
  text-decoration: none;

  &:hover {
    color: darken($interactive-main, 25%);
  }
}

.color-twitter {
  color: $twitter;
}

.data-label {
  font-size: .8em;
  font-weight: 300;
  font-family: 'Roboto Condensed';
  color: $light-secondary;
  text-transform: uppercase;
}
