html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.highlight {
  color: $highlight-main-color;
}

small {
  font-size: 1em;
}

label {
  cursor: inherit;
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(to right, transparentize($hr-color, .9) 0, transparentize($hr-color, .7) 50%, transparentize($hr-color, .9) 100%);
  margin: 1rem 0;

  &.hr--small-margin {
    margin: .5rem 0;
  }

  &.hr--no-margin {
    margin: 0;
  }
}

a {
  color: $interactive-main-color;
  text-decoration: none;

  &:hover {
    color: darken($interactive-main-color, 25%);
  }
}

.color-twitter {
  color: $twitter-color;
}

.color-success {
  color: $success-color;
}

.color-info {
  color: $info-color;
}

.color-error {
  color: $error-color;
}

.color-warning {
  color: $warning-color;
}

.data-label {
  font-size: .8em;
  font-weight: 300;
  font-family: 'Roboto Condensed';
  color: $light-secondary-color;
  text-transform: uppercase;
}

.text-logo {
  color: $light-secondary-color;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.9);
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(darken($light-secondary-color, 20%), darken($light-secondary-color, 20%));
  background: -o-linear-gradient(darken($light-secondary-color, 20%), darken($light-secondary-color, 20%));
  -webkit-background-clip: text;
  -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
}
